.tab {
    position: absolute;
    height: 100%;
    width: 100%;
}

.tab-slide {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0px;

    background-color: white;
    box-sizing: border-box;
    border: solid 1px #ddd;
    transition: all 0.2s ease-out;
}

.tab-cover {
    position: absolute;
    height: 100%;
    width: 100%;

    background-color: white;
    box-shadow: 3px 0 1px -3px white;
}

.tab-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
    float: right;
    background-image: url("https://i.imgur.com/vbFYCwQ.png");
    background-size: contain;
}