.dark {
    background-color: #212121 !important;
}

.dark-menu-item {
    color: #bbb !important;
}

.darken {
    z-index: 2501;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);;
    animation: fade 0.3s normal forwards ease-in-out;
}

@keyframes fade {
    from {background-color: transparent;}
    to {background-color: rgba(0, 0, 0, 0.3);}
}
  

.poster {
    position: absolute;
    width: 40%;
    height: 60%;
    left: 35%; top: 25%;

    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    padding: 10px;
    background-color: white;
    border: solid 2px gray;
    border-radius: 10px;
    font-size: 14px;

    /* Mozilla Firefox custom scrollbar support */
    scrollbar-color: #888 #eee; 
    scrollbar-width: thin;
} .poster-close {
    position: sticky;
    left: calc(100% - 20px);
    top: 0;
    width: 25px;
    height: 25px;
    background-image: url("https://i.imgur.com/RfJCiU9.png");
    background-size: contain;
    cursor: pointer;
    transform: rotate(45deg);
}

.poster-support {
    padding: 5px 10px 5px 10px;
    background-color: rgb(255, 124, 37);
    color: black;
    text-decoration: none;
    font-weight: 500;
    border: solid 2px #ddd;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease;
} .poster-support:hover {
    padding: 5px 12px 5px 12px;
    background-color: rgb(189, 86, 18);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5);
} .poster-img {
    max-width: 50%;
    margin-top: 10px;
} .poster-header {
    width: calc(100% - 20px);
    margin: 10px;
} .poster-text {
    width: 80%;
    padding-left: 10%; padding-right: 10%;
} .poster-change-notes {
    text-align: left;
    width: 75%;
    margin: auto;
} .poster-change-notes > p, .poster-change-notes > b {
    display: block;
    padding: 8px 0;
}

.info-btn {
    position: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-top: -35px;
    background-size: contain;
    float: right;
} .info-btn:hover {
    filter: contrast(100);
    cursor: pointer;
}

.tab {
    position: relative;
    z-index: 1;
    height: fit-content;
    width: 100%;
    max-height: fit-content;
    overflow: visible;

    padding-top: 10px; padding-bottom: 10px;
    border: 6px solid firebrick;
    border-bottom-width: 0px;
    border-right: hidden;
    box-sizing: border-box;
    box-shadow: -1px -3px 3px -2px gray;
    background-color: white;
}

.tab-menu {
    position: relative;
    z-index: 1;
    display: flex;
    width: calc(100% - 10px);
    padding-left: 10px;
    align-items: center;
    background-color: white;
}  .tab-menu-name {
    display: inline-block;
    margin-left: 30px;
    color: #444;
    font-weight: lighter;
    user-select: none;
    pointer-events: none;
} .tab-menu-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    background-size: contain;
} .tab-menu-btn:hover {
    filter: contrast(100);
    cursor: pointer;
} .edit-back {
    background-image: url("https://i.imgur.com/HyiPKvs.png");
} .delete-back {
    background-image: url("https://i.imgur.com/zSqjPhr.png");
} .expand-arrow {
    background-image: url("https://i.imgur.com/aC4kpD4g.png");
    transition: all 0.1s ease-in-out;
} .grab {
    z-index: 2;
    position: absolute;
    right: 0;

    user-select: none;
    opacity: 0;
    background-image: url("https://i.imgur.com/HgNyz8j.png");
    transition: all 0.1s ease-in-out;
} .grab:hover {
    filter: none;
    opacity: 1;
    cursor: grab;
}

.sub {
    position: absolute;
    height: 100%;
    width: 100%;
}

.sub-slide {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0px;

    background-color: white;
    box-sizing: border-box;
    border: solid 1px #ddd;
    transition: left 0.2s ease-out, background-color 0.1s ease;
} .sub-slide:hover {
    background-color: #ddd !important;
    cursor: pointer;
}

.sub-cover {
    position: absolute;
    height: 100%;
    width: 100%;

    background-color: white;
    box-shadow: 3px 0 1px -3px white;
}

.sub-icon, .sub-widget {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 10px;
    float: right;
    background-image: url("https://i.imgur.com/RfJCiU9.png");
    background-size: contain;
} .sub-widget:hover {
    cursor: pointer;
}

.sub-menu {
    position: absolute;
    width: 100px;
    height: 150px;
    top: 0;
    left: 0;
    
    z-index: 999;
    text-align: center;
    overflow-x: hidden;

    padding-top: 5px;
    background-color: white;
    box-sizing: border-box;
    border: solid 1px #ddd;
    border-radius: 2px;
} .sub-menu:hover {
    cursor: default;
}

.menu-link {
    position: relative;
    width: calc(100% - 12px);
    font-size: 11px;
    color: #444;
    font-weight: 500;
    padding: 6px;
    word-break: break-all;
    word-break: break-word;
} .menu-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.create-tab-menu {
    position: absolute;
    width: 150px;
    height: 160px;
    top: 0px;
    left: 0px;

    z-index: 1;
    padding: 5px;
    background-color: white;
    box-sizing: border-box;
    border: solid 1px #ddd;
    border-radius: 2px;
}

#create-tab-name {
    width: calc(100% - 10px);
}

.create-tab-btn {
    width: calc(50% - 3px);
    margin: auto;
    margin-top: 5px;

    border: solid 1px #ddd;
    border-radius: 2px;
}

::-webkit-scrollbar {
    width: 5px;
} ::-webkit-scrollbar-track {
    background: #eee;
} ::-webkit-scrollbar-thumb {
    background: #888;
}